<!-- Start of Courses Area -->
    <section class="portfolio-section section">
        <div id="container" class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                        Latest Courses Series</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Our Latest courses</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many resources on each track, which will help take you from a novice to an expert in months.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="portfolio-button-head">
                        <div class="portfolio-btn-wrapper wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <button class="portfolio-btn active" data-filter="*">All</button>
                            <button class="portfolio-btn" data-filter=".frontend">Front End</button>
                            <button class="portfolio-btn" data-filter=".backend">Backend</button>
                            <button class="portfolio-btn" data-filter=".software">Software</button>
                            <button class="portfolio-btn" data-filter=".graphic">Graphic Design</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row grid">
                <div class="col-lg-4 col-md-6 grid-item frontend">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <a href="portfolio-details.html"><img src="assets/images/courses/pf1.png" alt="#"></a>
                        </div>
                        <div class="portfolio-overlay">
                            <div class="pf-content">
                                <span class="category">Front End Development</span>
                                <h4><a href="portfolio-details.html">HTML 5 CRASH COURSE</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item frontend">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <a href="portfolio-details.html"><img src="assets/images/courses/pf2.png" alt="#"></a>
                        </div>
                        <div class="portfolio-overlay">
                            <div class="pf-content">
                                <span class="category">Front End Development</span>
                                <h4><a href="portfolio-details.html">CSS 3 CRASH COURSE</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item backend">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <a href="portfolio-details.html"><img src="assets/images/courses/pf3.png" alt="#"></a>
                        </div>
                        <div class="portfolio-overlay">
                            <div class="pf-content">
                                <span class="category">Backend</span>
                                <h4><a href="portfolio-details.html">PHP CRASH COURSE</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item software">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <a href="portfolio-details.html"><img src="assets/images/courses/pf4.png" alt="#"></a>
                        </div>
                        <div class="portfolio-overlay">
                            <div class="pf-content">
                                <span class="category">Software</span>
                                <h4><a href="portfolio-details.html">React Native</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item backend">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <a href="portfolio-details.html"><img src="assets/images/courses/pf5.png" alt="#"></a>
                        </div>
                        <div class="portfolio-overlay">
                            <div class="pf-content">
                                <span class="category">Backend</span>
                                <h4><a href="portfolio-details.html">PYTHON CRASH COURSE(WEB) </a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item graphic">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <a href="portfolio-details.html"><img src="assets/images/courses/pf6.png" alt="#"></a>
                        </div>
                        <div class="portfolio-overlay">
                            <div class="pf-content">
                                <span class="category">Graphics</span>
                                <h4><a href="portfolio-details.html">Graphics Development</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Courses Area -->