<!-- Start App Info Area -->
    <section id="overview" class="app-info section">
        <div class="container">
            <div class="info-one">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <!-- Start Info Text -->
                        <div class="info-text wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="main-icon">
                                <i class="lni lni-inbox"></i>
                            </div>
                            <h2>
                            Become  Certified
                            
                            </h2>
                            <p>M4 Academy Has Already Helped Countless of People Around The World - Are You Next?
                            </p>
                            <div class="button">
                                <a href="registration.html" class="btn">Get Started </a>
                            </div>
                        </div>
                        <!-- End Info Text -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="info-image wow fadeInRight" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <img class="ss1" src="assets/images/certificate_homepage.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-one style2">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="info-image wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <img class="ss1" src="assets/images/l2-content-img-1.png" alt="#">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <!-- Start Info Text -->
                        <div class="info-text wow fadeInRight" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <div class="main-icon">
                                <i class="lni lni-layout"></i>
                            </div>
                            <h2>Don't Know Where to Start</h2>
                            <p>Are you confuse on the course to take or study, take our free quiz and let us help you make the right choice.</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">Take Free Quiz</a>
                            </div>
                        </div>
                        <!-- End Info Text -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End App Info Area -->