<!-- Start Client Logo Section Area -->
    <div class="client-logo-section" style="background-color:#344">
        <div class="container">
            <div class="client-logo-wrapper">
                <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="client-logo">
                        <img src="assets/images/client-logo/client-1.svg" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="assets/images/client-logo/client-2.svg" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="assets/images/client-logo/client-3.svg" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="assets/images/client-logo/client-4.svg" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="assets/images/client-logo/client-5.svg" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="assets/images/client-logo/client-6.svg" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Client Logo Section Area -->